<!DOCTYPE html>
<html lang="en">
<!-- divinectorweb.com -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Resume website html css</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/junxian_portfoilo.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="img-area">
                <img src="../static/img/Jason.png" alt="">
            </div>
            <h1> Jason Liew Jun Xian</h1>
            <h3>Data Scientist</h3>
        </div>

        <div class="main">
            <div class="left">
                <h2>Personal Information</h2>
                <p><strong>Name:</strong> Jason Liew Jun Xian</p>
                <p><strong>Age:</strong> 21</p>
                <p><strong>Email:</strong> jasonking@gmail.com</p>
                <p><strong>Phone:</strong> 017-3953627</p>
                <h2>Skills</h2>
                <ul>
                    <li>Machine Learning Algorithms</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Data Analysis and Insight Extraction</li>
                    <li>SQL</li>
                </ul>
                <h2>Education</h2>
                <h3>Bachelors in Data Science</h3>
                <p>Tunku Abdul Rahman University of Management
                    and Technology (TAR UMT), 2018-2021</p> <br>
                <h3>Masters in Artificial Ingelligence</h3>
                <p>National University of Singapore, 2021-2023
                </p>
            </div>

            <div class="right">
                <h2>Work Experience</h2>
                <h3>Petronas</h3>
                <p><strong>Position:</strong>Machine Learning Engineer</p>
                <p><strong>Duration:</strong> 2021-2022</p>
                <ul>
                    <li>Collaborated with a cross-functional team to
                        extract actionable insights, resulting in the
                        approve of 10 million grant from the
                        government to pursue this research further.</li>
                </ul> <br>
                <h3>Fresh Futures
                </h3>
                <p><strong>Position:</strong>Machine Learning Engineer Intern</p>
                <p><strong>Duration:</strong>2019-2020
                </p>
                <ul>
                    <li>Assisted in designing and developing machine
                        learning models for DNA alteration.
                    </li>
                    <li>Conducted research on emerging ML techniques
                        and successfully implemented it in the company.
                    </li>

                </ul>
            </div>
        </div>
    </div>

</body>

</html>
